http_interactions:
- request:
    method: get
    uri: https://api.eventdata.crossref.org/v1/events/edited?rows=3&mailto=myrmecocystus%40gmail.com
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json;charset=UTF-8
    body:
      encoding: UTF-8
      file: no
      string: '{"status":"ok","message-type":"event-list","message":{"next-cursor":"68fb09a4-fb4b-492c-bce2-71f3e8880e4c","total-results":23117098,"items-per-page":3,"events":[{"license":"https:\/\/creativecommons.org\/publicdomain\/zero\/1.0\/","terms":"https:\/\/doi.org\/10.13003\/CED-terms-of-use","updated_reason":"https:\/\/evidence.eventdata.crossref.org\/announcements\/2018-04-26T00-00-00Z-ED-16.json","updated":"edited","obj_id":"https:\/\/doi.org\/10.1098\/rspb.2016.0792","source_token":"45a1ef76-4f43-4cdc-9ba8-5a6ad01cc231","occurred_at":"2017-02-17T09:17:34Z","subj_id":"http:\/\/twitter.com\/PaulKiem\/statuses\/832519346811310080","id":"90dd1736-e4cc-4955-a9b4-6f5e18421348","evidence_record":"https:\/\/evidence.eventdata.crossref.org\/evidence\/20170217f49152d6-b592-4320-a927-ee514d41600a","terms":"https:\/\/doi.org\/10.13003\/CED-terms-of-use","action":"add","subj":{"pid":"http:\/\/twitter.com\/PaulKiem\/statuses\/832519346811310080","title":"Tweet
        832519346811310080","issued":"2017-02-17T09:17:34.000Z","author":{"url":"http:\/\/www.twitter.com\/PaulKiem"},"original-tweet-url":"http:\/\/twitter.com\/ScholarsLeague\/statuses\/832196260924841989","original-tweet-author":"http:\/\/www.twitter.com\/ScholarsLeague","alternative-id":"832519346811310080"},"source_id":"twitter","obj":{"pid":"https:\/\/doi.org\/10.1098\/rspb.2016.0792","url":"https:\/\/doi.org\/10.1098\/rspb.2016.0792"},"timestamp":"2017-02-17T12:20:02Z","updated_date":"2018-05-02T17:15:40Z","relation_type_id":"discusses"},{"license":"https:\/\/creativecommons.org\/publicdomain\/zero\/1.0\/","terms":"https:\/\/doi.org\/10.13003\/CED-terms-of-use","updated_reason":"https:\/\/evidence.eventdata.crossref.org\/announcements\/2018-04-26T00-00-00Z-ED-16.json","updated":"edited","obj_id":"https:\/\/doi.org\/10.1136\/bmj.j456","source_token":"45a1ef76-4f43-4cdc-9ba8-5a6ad01cc231","occurred_at":"2017-02-17T09:17:08Z","subj_id":"http:\/\/twitter.com","id":"2af8b4de-76c6-44b5-baad-a358f1d915fc","evidence_record"[...]
